<!-- Form association start -->
<%= form_with(model: @association, local: true) do |f| %>
<!-- Form association end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for source_association_id start -->
  <div class="form-group">
    <%= f.label :source_association_id %>
    <!-- Input for source_association_id start -->
    <%= f.select :source_association_id, options_from_collection_for_select(Association.all, :id, :to_s, @association.source_association_id), {}, class: "form-control" %>
    <!-- Input for source_association_id end -->
  </div>
  <!-- Label and input for source_association_id end -->

  <!-- Label and input for through_association_id start -->
  <div class="form-group">
    <%= f.label :through_association_id %>
    <!-- Input for through_association_id start -->
    <%= f.select :through_association_id, options_from_collection_for_select(Association.all, :id, :to_s, @association.through_association_id), {}, class: "form-control" %>
    <!-- Input for through_association_id end -->
  </div>
  <!-- Label and input for through_association_id end -->

  <!-- Label and input for origin_model_id start -->
  <!-- Input for origin_model_id start -->
  <%= f.hidden_field :origin_model_id, value: @model.id %>
  <!-- Input for origin_model_id end -->
  <!-- Label and input for origin_model_id end -->

  <!-- Label and input for terminus_model_id start -->
  <div class="form-group">
    <%= f.label :terminus_model_id %>
    <!-- Input for terminus_model_id start -->
    <%= f.text_field :terminus_model_id, class: "form-control" %>
    <!-- Input for terminus_model_id end -->
  </div>
  <!-- Label and input for terminus_model_id end -->

  <!-- Label and input for foreign_key start -->
  <div class="form-group">
    <%= f.label :foreign_key %>
    <!-- Input for foreign_key start -->
    <%= f.text_field :foreign_key, class: "form-control" %>
    <!-- Input for foreign_key end -->
  </div>
  <!-- Label and input for foreign_key end -->

  <!-- Label and input for nature start -->
  <div class="form-group">
    <%= f.label :nature %>
    <!-- Input for nature start -->
    <%= f.text_field :nature, class: "form-control" %>
    <!-- Input for nature end -->
  </div>
  <!-- Label and input for nature end -->

  <%= f.submit "Create association", class: "btn btn-block btn-outline-secondary" %>
<% end %>
